@import "tailwindcss";

button {
    @apply cursor-pointer;
}

.input-class {
    @apply w-full bg-neutral-700 text-white rounded-lg px-3 pt-5 pb-2 border border-neutral-600 focus:border-sky-400 focus:outline-none;
}

.error-class {
    @apply text-red-400 text-xs mt-1;
}
